.create-li {
    ul {
        padding-left: 0;
        li {
            list-style: none;
        }
    }
}
.TextOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.py-100-percent{
  width:100%
}
.py-max-100-percent{
  max-width:100%
}
.py-text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.py-display-inline-block {
  display: inline-block
}

:focus {
    outline: 0px;
}