//饿了么 icon
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #0179FF !default;
/// color|1|Functional Color|1
$--color-success: #44BE67 !default;
/// color|1|Functional Color|1
$--color-warning: #F79446 !default;
/// color|1|Functional Color|1
$--color-danger: #F25B5B !default;
/// color|1|Functional Color|1
$--color-info: #999999 !default;

$gray-100: #f9f9fa !default;
$gray-200: #eee !default;
$gray-300: #dfdfdf !default;
$gray-400: #cacaca !default;
$gray-500: #aaaaaa !default;
$gray-600: #9e9e9e !default;
$gray-700: #7c7c7c !default;
$gray-800: #222 !default;
$gray-900: #111 !default;

$global-margin: 20px !default;
$global-small-margin: 10px !default;
$global-medium-margin: 40px !default;
$global-large-margin: 70px !default;
$global-xlarge-margin: 140px !default;

$global-gutter: 30px !default;
$global-medium-gutter: 40px !default;
$global-small-gutter: 15px !default;
$global-large-gutter: 70px !default;