/* ========================================================================
    Margin
 ========================================================================== */

// Variables
// ========================================================================

$margin-margin: $global-margin !default;

$margin-small-margin: $global-small-margin !default;

$margin-medium-margin: $global-medium-margin !default;

$margin-large-margin: $global-medium-margin !default;
$margin-large-margin-l: $global-large-margin !default;

$margin-xlarge-margin: $global-large-margin !default;
$margin-xlarge-margin-l: $global-xlarge-margin !default;

/*
 * Default
 */

.py-margin {
    margin-bottom: $margin-margin;
}
* + .py-margin {
    margin-top: $margin-margin !important;
}

.py-margin-top {
    margin-top: $margin-margin !important;
}
.py-margin-bottom {
    margin-bottom: $margin-margin !important;
}
.py-margin-left {
    margin-left: $margin-margin !important;
}
.py-margin-right {
    margin-right: $margin-margin !important;
}

/* Small
  ========================================================================== */

.py-margin-small {
    margin-bottom: $margin-small-margin;
}
* + .py-margin-small {
    margin-top: $margin-small-margin !important;
}

.py-margin-small-top {
    margin-top: $margin-small-margin !important;
}
.py-margin-small-bottom {
    margin-bottom: $margin-small-margin !important;
}
.py-margin-small-left {
    margin-left: $margin-small-margin !important;
}
.py-margin-small-right {
    margin-right: $margin-small-margin !important;
}

/* Medium
  ========================================================================== */

.py-margin-medium {
    margin-bottom: $margin-medium-margin;
}
* + .py-margin-medium {
    margin-top: $margin-medium-margin !important;
}

.py-margin-medium-top {
    margin-top: $margin-medium-margin !important;
}
.py-margin-medium-bottom {
    margin-bottom: $margin-medium-margin !important;
}
.py-margin-medium-left {
    margin-left: $margin-medium-margin !important;
}
.py-margin-medium-right {
    margin-right: $margin-medium-margin !important;
}

/* Large
  ========================================================================== */

.py-margin-large {
    margin-bottom: $margin-large-margin;
}
* + .py-margin-large {
    margin-top: $margin-large-margin !important;
}

.py-margin-large-top {
    margin-top: $margin-large-margin !important;
}
.py-margin-large-bottom {
    margin-bottom: $margin-large-margin !important;
}
.py-margin-large-left {
    margin-left: $margin-large-margin !important;
}
.py-margin-large-right {
    margin-right: $margin-large-margin !important;
}

/* XLarge
 ========================================================================== */

.py-margin-xlarge {
    margin-bottom: $margin-xlarge-margin;
}
* + .py-margin-xlarge {
    margin-top: $margin-xlarge-margin !important;
}

.py-margin-xlarge-top {
    margin-top: $margin-xlarge-margin !important;
}
.py-margin-xlarge-bottom {
    margin-bottom: $margin-xlarge-margin !important;
}
.py-margin-xlarge-left {
    margin-left: $margin-xlarge-margin !important;
}
.py-margin-xlarge-right {
    margin-right: $margin-xlarge-margin !important;
}

/* Auto
 ========================================================================== */

.py-margin-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.py-margin-auto-top {
    margin-top: auto !important;
}
.py-margin-auto-bottom {
    margin-bottom: auto !important;
}
.py-margin-auto-left {
    margin-left: auto !important;
}
.py-margin-auto-right {
    margin-right: auto !important;
}

.py-margin-auto-vertical {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* Remove
 ========================================================================== */

.py-margin-remove {
    margin: 0 !important;
}
.py-margin-remove-top {
    margin-top: 0 !important;
}
.py-margin-remove-bottom {
    margin-bottom: 0 !important;
}
.py-margin-remove-left {
    margin-left: 0 !important;
}
.py-margin-remove-right {
    margin-right: 0 !important;
}

.py-margin-remove-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.py-margin-remove-adjacent + *,
.py-margin-remove-first-child > :first-child {
    margin-top: 0 !important;
}
.py-margin-remove-last-child > :last-child {
    margin-bottom: 0 !important;
}
